*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Logo{
    width: 150px;
    height: 85px;
}

.Imagen{
    width: 300px;
    height: 200px;
}

.text{
    text-align: center;
    margin: 100px;
}

.title{
    font-size: 36px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: #333333;
  margin-bottom: 10px;
  padding-top: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.boton{
    border-radius: 1rem;
    background-color: black;
    color: white;  
}

.boton:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}

.Logo:hover{
    transform: translateY(-5px);
    transition: 0.5s; 
}

.imagenes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    width:300px;
    height: 250px;
    justify-items: center;

}

footer{
    margin: 1rem;
    text-decoration:none ;
    text-align: center;
    background-color: black;
    color: white;
    gap: 1px;


}

.Logo{
    width: 150px;
    height: 85px;
}

.man{
    text-align: left;
    color: black;
}

man:hover{
    transition: width 2s, height 4s;
}

.d-flex flex-column mb-3{
    display: flex;
    flex-direction: row;
}

.seccion4{
    text-align: center;

}

.col{
    width: 200px;
    height: 150px;
}

.aboutus{
    text-align: center;
}

.container-img{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
}

.container-img .box-img figure{
    width: 100%;
    height: 100%;
}
.container-img .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-img .box-img:nth-child(1){
    grid-column-start: span 2;
}
.container-img .box-img:nth-child(4){
    grid-column-start: span 4;
}

@media screen and (max-width:800px){
    .container-img{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template-rows: 200px;

    }
}

.form-inicio{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

.form-2{
    color: #007BFF;
    text-align: center;
}

form {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


.cajaa caja1{
    width: 100px;
}

.Initial{
    background-image: url(./imagenes/images/aboutus.jpg);
    width: 1380px;
    height: 400px;
    text-align: center;
}

.Initial-1{
    color: black;
    text-align: center;
    text-size-adjust: 30px;
}

.Initial-2{
    color: black;
    text-align: center;
    text-size-adjust: 30px;

}

.Boton-comprar{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Boton-comprar:hover {
    background-color: #2980b9;
}

.conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.caja{
    background-size: cover;
    background-position: center;
}

.caja-caja1{
  background-image: url(./imagenes/images/ropanike.jpg);
}

.caja-caja2{
    background-image: url(./imagenes/images/image1.jpg);
    width: 500px;
    height: 300px;
}

.caja-caja3{
    background-image: url(./imagenes/images/nikemujer2.jpg);
}

.lista{
    text-align: center;
    text-decoration: none;
    color: white;
    list-style-type: none;
    text-decoration: none;
}

footer{
    background-color: gray;
    padding: 20px;
    margin: 0;
}

.aboutus{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    background-color: black;
}

.logo3{
    text-decoration: dashed;   
}

.aboutus2{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    gap: 50px;
    padding: 45px 0px;


}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;

}

.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
}



@media screen and (max-width: 767px) {
    .conteiner {
      max-width: 800px;
    }

    @media screen and (max-width: 480px){
        .conteiner {
          max-width: 100%;
          padding: 10px;
        }














